.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 10px 10px 10px;
}
.site-title {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}
.movie-pages{
    width: 100%;
    text-align: center;
}
.categories-select {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-select{
  text-align: center;
  width: 50%;
}

@media (max-width:574px) {
  .movie-select{
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
   }
}
.movie-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-card {
    height: 500px;
    width: 250px;
    background-color: #fff;
    margin: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    position: relative;
}
.movie-card-picture {
    width: inherit;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.movie-card-description {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.movie-card-title {
    width: 100%;
    font-weight: bold;
}
.movie-card-category {
    width: 100%;
    margin-top: 10px;
}
.movie-card-likes {
    width: 50%;
    margin-top: 10px;
}

.movie-card-dislikes {
    width: 50%;
    margin-top: 10px;
}
.movie-card-likes-button-container {
    width: 50%;
    margin-top: 10px;
}

.movie-card-likes-button {
    color:green;
    cursor: pointer;
}
.movie-card-dislikes-button {
    color: red;
    cursor: pointer;
}

.movie-container-button {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.movie-card-delete-button {
    border-radius: 15px;
    border: none;
    color: black;
    font-weight: 600;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}
.movie-card-delete-button:hover{
    background-color: red;
    color: white;
    transition: ease-in-out .2s;
}

.no-movies-container {
    height: 250px;
    width: 250px;
    background-color: #fff;
    margin: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.no-movies-text{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.no-movies-container-button{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.no-movies-back-button {
    padding: 5px 20px 5px 20px;
}
.movie-seemore-container{
    width: 100%;
    text-align: center;
}
.movie-seemore{
    font-size: 16px;
    cursor: pointer;
    transition: font-size 2s ease-out 2s;
}
.movie-seemore:hover {
    font-size: 18px;
    font-weight: bold;
    transition: font-size 2s ease-in .2s;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}